# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
logs

# minigame definitions/worlds
src/main/resources/**/maps/*.zip
src/main/resources/**/games/*.json
src/main/resources/**/*.bin

# datagen caches
**/.cache

# Files from Forge MDK
forge*changelog.txt

Thumbs.db

/libs/
